.ejercicio {
  display: flex;
  flex-direction: row;

  .contenedor-filas {
    flex: 1;
    padding: 10px;

    .filas {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }
  }

  .columnas {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: coral;
  }

  .combinado {
    background-color: dodgerblue;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;

    & p {
      margin: 0;
    }

    .columnas-combinado {
      width: 200px;
      height: 100%;
      width: 100%;
      background-color: burlywood;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

.boton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  
  & :hover {
    background-color: blueviolet;
  }
}