@use 'global' as *;
@use 'navbar' as *;
@use 'video' as *;
@use 'ejercicio' as *;

.blog {
  background-color: $white;
  max-width: unset;
  padding: 5% 10%;

  .title {
    @extend %base-title;
    font-weight: bold;
  }

  .process-list {
    margin-top: 40px;
    margin-bottom: 36px;

    .process {
      margin-bottom: 25px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      & > div {
        & > h3 {
          color: $dark-green-title;
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 500;
        }
        & > p {
          color: $dark-green-text;
          margin: 0;
        }
      }

      .process-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;

        img {
          height: 100%;
        }
      }
    }
  }

  button {
    height: auto;
    color: $white;
    border-radius: 5px 5px 5px 5px;
    padding: 12px;
    width: 180px;
    margin-bottom: 15px;
    border: none;
    background-color: $dark-green-title;
  }

  .card-title {
    font-size: 24px;
    color: $gray;
  }

  .metadata {
    font-weight: 500;
    font-size: 14px;
    color: $light-gray;

    .category {
      color: $light-green;
    }
  }

  .card-text {
    color: $gray;
    font-size: 18px;
    line-height: 1.5em;
    min-height: 6em;

    .read-more a {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .author {
    & img {
      border-radius: 50%;
      width: 35px;
      height: 35px;
    }

    & p {
      margin-left: 8px;
      font-weight: 600;
      font-size: 14px;
      color: $gray;
    }
  }
}
