/** placeholders */
.blog .title {
  font-family: "Alegreya", serif;
  color: #135359;
}

body {
  background-color: #fffbf7;
  margin: 0px;
  padding: 0px;
}

.main {
  margin-top: 140px;
  padding: 10px;
}

.main h1 {
  color: #025157;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  font-family: "Alegreya", serif;
}

.main form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto_centrado {
  text-align: center;
  color: #46484c;
}

.main button {
  color: #fff;
  background-color: #025157;
  height: 45px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
}

.main input {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 45px;
  margin-right: -5px;
  border: 1px solid #c6c6c6;
  padding: 0 5px;
}

.main .banner {
  margin-top: 25px;
  text-align: center;
}

.main .grey-text {
  color: #a6a6a6;
  text-align: center;
  margin-bottom: 5px;
}

.header {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.navbar {
  text-align: center;
  color: #025157;
  font-weight: 500;
  background-color: #fffbf7;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.explanatory-video img {
  width: 130px;
  margin-top: 10px;
}

.ejercicio {
  display: flex;
  flex-direction: row;
}
.ejercicio .contenedor-filas {
  flex: 1;
  padding: 10px;
}
.ejercicio .contenedor-filas .filas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ejercicio .columnas {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: coral;
}
.ejercicio .combinado {
  background-color: dodgerblue;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}
.ejercicio .combinado p {
  margin: 0;
}
.ejercicio .combinado .columnas-combinado {
  width: 200px;
  height: 100%;
  width: 100%;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.boton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}
.boton :hover {
  background-color: blueviolet;
}

.blog {
  background-color: #ffffff;
  max-width: unset;
  padding: 5% 10%;
}
.blog .title {
  font-weight: bold;
}
.blog .process-list {
  margin-top: 40px;
  margin-bottom: 36px;
}
.blog .process-list .process {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.blog .process-list .process > div > h3 {
  color: #025157;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
}
.blog .process-list .process > div > p {
  color: #135359;
  margin: 0;
}
.blog .process-list .process .process-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  text-align: center;
}
.blog .process-list .process .process-icon img {
  height: 100%;
}
.blog button {
  height: auto;
  color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  padding: 12px;
  width: 180px;
  margin-bottom: 15px;
  border: none;
  background-color: #025157;
}
.blog .card-title {
  font-size: 24px;
  color: #4a4a4a;
}
.blog .metadata {
  font-weight: 500;
  font-size: 14px;
  color: #979797;
}
.blog .metadata .category {
  color: #67b54b;
}
.blog .card-text {
  color: #4a4a4a;
  font-size: 18px;
  line-height: 1.5em;
  min-height: 6em;
}
.blog .card-text .read-more a {
  text-decoration: underline;
  cursor: pointer;
}
.blog .author img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.blog .author p {
  margin-left: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #4a4a4a;
}

/*# sourceMappingURL=output.css.map */
