body {
  background-color: #fffbf7;
}

h1 {
  color: blue;
  font-size: 60px;
  margin-bottom: 24px;
}

form, h4, p, h1 {
  text-align: center;
}

p {
  color: #8b8b8bcc;
  margin-top: 15px;
}

input {
  border-radius: 5px;
  padding: 10px;
  border: solid 1px #8b8b8bcc;
  height: 30px;
}


